Technological Institute of the Philippines | Quezon City - Computer Engineering
--- | ---
Course Code: | CPE 019
Code Title: | Emerging Technologies in CpE 2
1st Semester | AY 2023-2024
<hr> | <hr>
<u>**Quiz 5.1** | **Advanced Data Analytics and Machine Learning  **
**Name** | Abad, Julia Marie Iberet B.
**Section** | CPE32S3
**Date Performed**: | February 28, 2024
**Date Submitted**: | February 28, 2024
**Instructor**: | Engr. Roman Richard

##SET A

In [34]:
#SET A: Write a Python program using Pandas to count the number of rows and columns of a DataFrame.
import pandas as pnd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 'np.nan', 9, 20, 14.5, 'np.nan', 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
rows = [5]
columns = [10]

print(exam_data )
print('The number of rows are:', rows)
print('The number of columns', columns)

{'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, 'np.nan', 9, 20, 14.5, 'np.nan', 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
The number of rows are: [5]
The number of columns [10]